.container {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
}

/*----------Navigation tab start----------*/
.nav-tab{
    position: fixed;
    width: 100px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #F7F6FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 2;
}

.logo{
    position: relative;
    width: 68px;
    height: 34px;
    left: 16px;
    top: 44px;
}

.line{
    position: absolute;
    width: 62.24px;
    height: 0px;
    left: 18px;
    top: 110.03px;
    border: 2px solid #C4C4C4;
}

.nav-button{
    position: relative;
    width: 89px;
    height: 57px;
    left: 11px;
    top: 112px;
    border-radius: 25px 0px 0px 25px;
}

.nav-button-img{
    position: absolute;
    left: 42px;
    right: 138px;
    top: 16px;
    bottom: 16px;    
    transform: translate(-50%);
    filter: invert(88%) sepia(0%) saturate(0%) hue-rotate(165deg) brightness(92%) contrast(88%);
}

.nav-button-text{
    position: absolute;
    width: 62px;
    height: 18px;
    left: 87px;
    top: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #C4C4C4;
}

.nav-button > .nav-button-text{
    visibility: hidden;    
}

/*-----.nav-button:hover-----*/
.nav-button:hover{
    background: #FFFFFF;    
}

.nav-button:hover > .nav-button-img{
    filter: invert(21%) sepia(34%) saturate(4386%) hue-rotate(176deg) brightness(93%) contrast(98%);
}

.nav-button:hover > .nav-button-text{
    color: #02577A;
}

/*-----.nav-tab:hover-----*/
.nav-tab:hover{
    width: 206px;
}

.nav-tab:hover > .logo{
    left: 69px;
    top: 44px;
}

.nav-tab:hover > .line{
    width: 128.22px;
    left: 39px;
}

.nav-tab:hover > .nav-button{
    width: 195px;
}

.nav-tab:hover > .nav-button > .nav-button-text{    
    visibility: visible;
}
/*----------Navigation tab end----------*/

/*----------section style start----------*/

.date-time{
    background-color: #FFF;
    position: absolute;
    right: 67px;
    top: 56px;
    width: 516px;
    height: 147px;
    border-radius: 25px;
    font-weight: medium;
    font-family: Montserrat;
}

.time{
    color: #02577A;
    position: absolute;
    left: 96px;
    top: 22px;
    font-size: 36px;    
}

.date{
    position: absolute;
    left: 96px;
    bottom: 46px;
    font-size: 24px;
}

.greeting{
    position: absolute;
    left: 206px;
    top: 89px;
    width: 341px;
    height: 80px;
    font-size: 36px;
    font-size: normal;
}

.home-img{
    position: absolute;
    left: 102px;
    top: 226px;    
    max-height: 432px;
    /* max-width: 1345px; */
    overflow: hidden; 
}

.quote{
    position: absolute;
    top: 707px;
    left: 50%;
    width: 830px;
    height: 121px;
    transform: translate(-50%);
    border: 2px solid #02577A;
    box-sizing: border-box;
    border-radius: 25px;
}

.quote > p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}

/* ---------------------------------------- */
@media (max-width: 1050px){
    .date-time{
        left: 141px;
        top: 44px;
        width: 419px;
        height: 147px;
    }

    .time{
        left: 20px;
    }

    .date{
        left: 20px;
    }

    .greeting{
        left: 141px;
        top: 224px;
    }

    .home-img{
        top: 317px;
        max-height: 283px;
        overflow: hidden; 
    }

    .quote{
        top: 626px;
        left: 121px;
        width: 433px;
        height: 121px;
        transform: translate(0);
    }
}
/*----------section style end----------*/

/*----------Footer style start----------*/
.footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    text-align: center; 
}

.footer-line{
    position: absolute;
    width: 346.01px;
    left: 50%;    
    bottom: 11px;
    transform: translate(-50%, -50%);
    margin-bottom: 11px;
    border: 1px solid #02577A;
}

.footer-text{
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;

    color: #02577A;
}
/*----------Footer style end----------*/